@model SeeNow.Models.quiz_group

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>quiz_group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            題組名稱
            @*@Html.DisplayNameFor(model => model.group_name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_name)
        </dd>

        <dt>
            題組描述
            @*@Html.DisplayNameFor(model => model.category.category_desc)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.category_desc)
        </dd>

        <dt>
            用戶
            @*@Html.DisplayNameFor(model => model.users.role_id)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.users.role_id)*@
            @Html.DisplayFor(model => model.users.account)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
