@model IEnumerable<SeeNow.Models.friendship>

@{
    ViewBag.Title = "好友列表";
   
}

<h2>好友列表</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped table-warning table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.friend_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.users.role_id)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.friend_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.users.role_id)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
