@model IEnumerable<SeeNow.Models.category>

@{
    ViewBag.Title = "後台管理--題庫類別";
}
@Styles.Render("~/back/css")
<h2>後台管理--題庫類別</h2>

<p>
    @Html.ActionLink("新增題庫類別", "Create")
</p>
<table class="table table-striped table-warning table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_desc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_desc)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.category_id }) @*|*@
                @*@Html.ActionLink("Details", "Details", new { id=item.category_id }) |*@
                @*@Html.ActionLink("刪除", "Delete", new { id = item.category_id })*@
            </td>
        </tr>
    }

</table>
