@model IEnumerable<SeeNow.Models.quiz_answer>

@{
    ViewBag.Title = "答案列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead form ">

    <div class="container">
        @*<div class="col-2 btn  btn-outline-primary m-2">*@
            @*@Html.ActionLink("新增答案", "QAAdd", 0, new { @class = "col-2 btn  btn-outline-primary m-2" })*@
        @*</div>*@
        @*<div class="col-2 btn btn-outline-success m-2">*@
            @Html.ActionLink("返回列表", "Index", "QQA", 0, new { @class = "col-2 btn  btn-outline-success m-2" })
        @*</div>*@
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.answer_text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answer_img_path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_correct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quizzes.type_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type.type_desc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.answer_text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.answer_img_path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_correct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quizzes.type_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type.type_desc)
                </td>
                @*<td>
                    @Html.ActionLink("編輯", "QAEdit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("刪除", "QADelete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }

    </table>

</header>