@model IEnumerable<SeeNow.Models.mall_log>

@{
    ViewBag.Title = "後台管理--商城管理紀錄";
}

<h2>後台管理--商城管理紀錄</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped table-secondary table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.used_img_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mall.product_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manager.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.used_img_path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mall.product_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manager.password)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
