@model SeeNow.Models.classes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>classes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.class_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.class_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.role_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.role_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.class_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
