@model IEnumerable<SeeNow.Models.difficulty_level>

@{
    ViewBag.Title = "後台管理--難易度";
}
@Styles.Render("~/back/css")
<h2>後台管理--難易度</h2>

<p>
    @Html.ActionLink("新增難易度", "Create")
</p>
<table class="table table-striped table-success table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.difficulty_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.difficulty_desc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.difficulty_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.difficulty_desc)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.difficulty_id }) @*|*@
                @*@Html.ActionLink("Details", "Details", new { id = item.difficulty_id }) |*@
                @*@Html.ActionLink("刪除", "Delete", new { id = item.difficulty_id })*@
            </td>
        </tr>
    }

</table>
