@model IEnumerable<SeeNow.Models.play_record>

@{
    ViewBag.Title = "後台管理--遊戲紀錄";
}

<h2>後台管理--遊戲紀錄</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped table-warning table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.role_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quizzes.type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.play_record_answer.account)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.role_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quizzes.type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.play_record_answer.account)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
