@model SeeNow.Models.difficulty_level_log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>difficulty_level_log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.difficulty_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.difficulty_level.difficulty_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty_level.difficulty_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
