@model IEnumerable<SeeNow.Models.admin>

@{
    ViewBag.Title = "";
}
@Styles.Render("~/back/css")
@*<p>*@
@*@Html.ActionLink("新增最高管理者", "Create")*@
@*</p>*@
<table class="table table-striped table-success table-hover">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_id)
            </td>
            <td>
                *****
                @*@Html.DisplayFor(modelItem => item.password)*@
            </td>
            @*<td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.admin_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.admin_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.admin_id })
                </td>*@
        </tr>
    }

</table>
