@model IEnumerable<SeeNow.Models.manager>

@*@{
    ViewBag.Title = "後台管理--管理員";
}*@

@*<h2>後台管理--管理員</h2>*@


@Styles.Render("~/back/css")

@*<p>
    @Html.ActionLink("新增管理員", "Create")
</p>*@
<div class="table-responsive">
    <table class="table table-striped table-success table-hover" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.manager_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.manager_id)
                    </td>
                    <td>
                        *****
                        @*@Html.DisplayFor(modelItem => item.password)*@
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.manager_id }) |
                        @*@Html.ActionLink("Details", "Details", new { id=item.manager_id }) |*@
                        @Html.ActionLink("刪除", "Delete", new { id = item.manager_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>