@model SeeNow.Models.post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lock_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lock_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.role_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.role_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quizzes.type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quizzes.type_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.post_quid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
