@model IEnumerable<SeeNow.Models.quiz_violations>

@{
    ViewBag.Title = "後台管理--遊戲題目檢舉";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

<h2>後台管理--遊戲題目檢舉</h2>

<p>
    @Html.ActionLink("新增遊戲題目檢舉", "Create")
</p>
<table class="table table-striped table-primary table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.violation_quid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.violation_reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manager.manager_id)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.quizzes.quiz_guid)*@
            @Html.DisplayNameFor(model => model.quizzes.tittle_text)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.users.role_id)*@
            檢舉人帳號
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.violation_quid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.violation_reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manager.manager_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quizzes.quiz_guid)
            @Html.DisplayFor(modelItem => item.quizzes.tittle_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.account)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.violation_quid }) @*|*@
            @*@Html.ActionLink("Details", "Details", new { id=item.violation_quid }) |*@
            @*@Html.ActionLink("刪除", "Delete", new { id = item.violation_quid })*@
        </td>
    </tr>
}

</table>
